.home {
  @include flexbox();

  .container {
    @include flexbox();

    width: 100%;
    align-items: center;
    justify-content: center;

    .image {
      max-width: 200px;
      border-radius: 50%;
      border: 2px solid $cod-gray;
      margin-right: 2em;
    }

    .info {
      h2 {
        font-weight: normal;
        font-size: 1em;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .home {
    .container {
      flex-direction: column;

      .image {
        margin-right: 0;
        margin-bottom: 1em;
      }

      .info {
        text-align: center;
      }
    }
  }
}
