@import 'variables';
@import 'mixins';

html {
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  background: $background-color;
  color: $font-color;
  font-family: $primary-font-family;
  font-weight: $normal-font-weight;
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: $bold-font-weight;
  margin: 0;
}

p {
  color: inherit;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

em {
  font-style: italic;
  font-weight: $italic-font-weight;
}

hr {
  background: darken(#FFFFFF, $border-percentage);
  border: none;
  height: 1px;
  margin: 0 30px;
}

pre {
  background-color: #f8f8f8;
  border-radius: 3px;
  border: 1px solid darken(#FFFFFF, $border-percentage);
  font-family: $monospace-font-family;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  text-align: left;

  code {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    white-space: pre;
  }
}

code {
  background-color: #f8f8f8;
  border-radius: 3px;
  border: 1px solid darken(#FFFFFF, $border-percentage);
  font-family: $monospace-font-family;
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
}

input, textarea {
  @include border-box;

  -webkit-appearance: none;
  background: #fff;
  border-radius: 4px;
  border: none;
  box-shadow: 0 2px 0 darken(#FFFFFF, $border-percentage);
  font-family: $primary-font-family;
  font-size: 16px;
  padding: 5px 10px;
  resize: none;

  &.code {
    font-family: $monospace-font-family;
  }
}

input:focus, textarea:focus, button:focus {
  outline: none;
}

input[type='text'], input[type='email'], input[type='password'], textarea {
  border: 1px darken(#FFFFFF, $border-percentage) solid;
  display: block;
  margin: 0 auto;
  width: 80%;
}

button, input[type='submit'] {
  -webkit-appearance: none;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-family: $primary-font-family;
  font-size: 14px;
  margin: 5px 10px;
  padding: 5px 10px;
  position: relative;

  &:active, &.active {
    box-shadow: none !important;
    top: 2px;
  }

  &:disabled {
    background: $disabled-color !important;
    box-shadow: 0 2px 0 darken(#FFFFFF, $border-percentage) !important;
    cursor: default;

    &:active, &.active {
      top: 0;
    }
  }
}

noscript {
  color: $red;
}

.home-button {
  left: 5px;
  position: absolute;
  top: 5px;

  button {
    background: #fff;
    border-radius: 4px;
    border: 1px darken(#FFFFFF, $border-percentage) solid;
    box-shadow: 0 2px 0 darken(#FFFFFF, $border-percentage);
    color: $primary-color;
    font-size: 26px;
    margin: 0;
    padding: 0;

    .icon {
      display: block;
      padding: 5px;
      width: 1em;
    }
  }
}

.container {
  @include flexbox();

  align-items: center;
  height: 100%;
  justify-content: center;

  .box-container {
    background: #fff;
    border-radius: 4px;
    border: 1px #aaa solid;
    box-shadow: 0 2px 0 #aaa;
    display: inline-block;
    margin: 20px;
    outline: 0;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    vertical-align: middle;

    header {
      padding-bottom: 20px;

      a {
        color: $primary-color;
        text-decoration: underline;
      }

      h1 {
        color: $primary-color;
        margin-bottom: 5px;
      }

      p {
        margin-bottom: 0.5em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .body-container {
      padding-top: 20px;
    }

    button, input[type="submit"] {
      background: $primary-color;
      box-shadow: 0 2px 0 darken($primary-color, $border-percentage);

      &:active, &.active {
        background: darken($primary-color, $border-percentage);
        box-shadow: none;
      }
    }

    .centered {
      text-align: center;
    }
  }
}

@media print {
  .container {
    padding: 0;

    .inner {
      border: none;
      box-shadow: none;

      a, hr {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
      }
    }
  }
}

.content {
  padding: 20px;

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
