.regex {
  .body {
    text-align: center;

    .status {
      @include flexbox();

      align-items: center;
      justify-content: center;
      margin-bottom: 1em;

      .level {
        margin-right: 5px;
      }

      .score {
        margin-left: 5px;
      }
    }

    .words {
      @include flexbox();

      align-items: center;
      justify-content: center;
      margin-bottom: 1em;

      ul {
        list-style: none;
        margin: 0;
        padding: 5px 30px;
        text-align: left;

        li {
          color: $cod-gray;

          .fa-check {
            color: $shamrock;
            margin-right: 5px;
            width: 1em;
          }

          .fa-times {
            color: $cinnabar;
            margin-right: 5px;
            width: 1em;
          }

          span {
            &.match {
              color: $shamrock;
            }
          }
        }
      }
    }

    .help {
      font-size: 14px;
    }

    .finish {
      color: $curious-blue;
    }
  }
}
