.takuzu {
  .body {
    text-align: center;

    .board {
      @include flexbox();

      flex-wrap: wrap;
      margin: 1em auto;
      max-width: 400px;

      &.board-size-4 {
        .box {
          width: calc(25% - 10px);
          padding-bottom: calc(25% - 10px);
        }
      }

      &.board-size-6 {
        .box {
          width: calc(16.666% - 10px);
          padding-bottom: calc(16.666% - 10px);
        }
      }

      &.board-size-8 {
        .box {
          width: calc(12.5% - 10px);
          padding-bottom: calc(12.5% - 10px);
        }
      }

      &.board-size-10 {
        .box {
          width: calc(10% - 10px);
          padding-bottom: calc(10% - 10px);
        }
      }

      .box {
        @include border-box;
        @include disable-selection;

        border-radius: 16.666%;
        background: $silver;
        margin: 5px;
        height: 0;
        cursor: pointer;

        &.box-color-1 {
          background: $shamrock;
        }

        &.box-color-2 {
          background: $cinnabar;
        }
      }
    }

    .help {
      font-size: 14px;
    }

    .finish {
      color: $curious-blue;
    }
  }
}
