$primary-font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$monospace-font-family: 'Source Code Pro', monospace;

$max-width: 800px;

$alabaster: #f9f9f9;
$silver: #cccccc;
$silver-chalice: #aaaaaa;
$cod-gray: #111111;
$curious-blue: #3498db;
$cinnabar: #e74c3c;
$shamrock: #2ecc71;
