$background-color: #EEEEEE;
$font-color:       #111111;
$disabled-color:   #DDDDDD;

$border-percentage: 20%;

$green:     #2ECC71;
$turquiose: #1ABC9C;
$blue:      #3498DB;
$purple:    #9B59B6;
$red:       #E74C3C;
$orange:    #E67E22;
$yellow:    #F1C721;

$primary-color: $blue;

$primary-font-family:   'Ubuntu', Helvetica, Arial, sans-serif;
$normal-font-weight:    400;
$bold-font-weight:      700;
$light-font-weight:     300;
$italic-font-weight:    400;
$monospace-font-family: 'Ubuntu Mono', AndaleMono, monospace;

$mobile-width:          550px;
